.about{
    width:100%;
    padding-top: 200px;
    padding-left: 142px;
    font-weight: 600;
    display: flex;
    margin-bottom:200px;
}
.about__img{
    width:472px;
    height: 550px;
}
.about__column:last-of-type{
    padding-top:77px;
    padding-left:130px;
}
.about__header{
    font-size: 16px;
    font-weight: 600;
    color: #DEDEDE;
    opacity: 0.8;
}
.about__title{
    color:#131313;
    margin-top:38px;
    font-size: 50px;
    font-weight: 700;
}
.about__text{
    color:#8B8B8B;
    font-size:16px;
    font-weight: 600;
    margin-top:50px;
    line-height: 20px;
}
.about__button{
    width: 180px;
    margin-top:65px;
    color : #FF0000;
    border: 2px solid #FF0000;
    padding: 23px 43px;
    font-weight: 600;
}