.schedule{
    padding-left: 85px;
    margin-bottom: 100px;
}
.schedule__line{
    width : 93%;
    height: 10px;
}
.schedule header{
    margin-top: 85px;
}
.schedule-profile{
    width: 100px;
    height:100px;
    border-radius: 50%;
}