/* wemmet clone Main CSS */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,800i|Oswald:700&display=swap");
@import "reset.css";
@import "header.css";
@import "nav.css";
@import "speakers.css";
@import "schedule.css";
@import "register.css";

*{
    box-sizing: border-box;
}

.g-button{
    border : 2px solid #FFFFFF;
    text-align:center;
    line-height: 25px;
    cursor: pointer;
}